body {
    font-family: Roboto-regular;
} 

.main
{
	width:924px;
	height:550px;
	background:#32D7F4;
	margin:auto;
	top:0px;
	left:0px;
	right:0px;
	position:absolute;
	overflow:hidden;
}
.drop1
{
width: 97px;
height: 73px;
border: 3px solid transparent;
border-radius: 13px;
top: -4px;
left: -3px;
position: absolute;
/* z-index:3; */
}
#resetbtn_btn
{
	position: absolute;
	width: 70px;
	height: 36px;
	background: #A7A9AB;
	top: 508px;
	left: 141px;
	text-align: center;
	line-height: 35px;
	z-index: 7;
	color: white;
	display:none;
}
.roundAnimate
{
	position: absolute;
	width: 14px;
	height: 14px;
	top: 121px;
	right: 380px;
	border-radius: 7px;
	background: #ffcb05;
	display:none;
	z-index: 8;
}
.sliderAnimate
{
	position: absolute;
	top: 476px;
	right: 380px;
	width: 0px;
	height: 5px;
	background: #ffcb05;
	display:none;
}
.popup
{
	position:absolute;
	width:150px;
	height:50px;top:100px;
	left:300px;
	background:red;
	display:none;
}
.popupclose
{
	position:absolute;
	width:50px;
	height:50px;top:100px;
	left:250px;
	background:green;
	display:none;
	cursor: pointer;
	z-index: 10;
}

.drag
{
	position: absolute;
	width: 98px;
	height: 74px;
	top: 10px;
	left: 10px;
	cursor:pointer;
	/* background:white; */
	z-index:1;
	border-radius: 14px;
	color: white;	
	text-align: center;	
	font-size: 12px;
	border: 3px solid transparent;
}
/**/ .drag1
{
	position: absolute;
	width: 98px;
	height: 74px;
	top: 10px;
	left: 10px;
	cursor:pointer;
	/* background:white; */
	z-index:1;
	border-radius: 14px;
	color: white;	
	text-align: center;	
	font-size: 12px;
	border: 3px solid transparent;
} 
.drag img
{
	width:100px;
	position:absolute;
	top:-1px;
	left:-1px;
	border-radius:11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}
.drag1 img
{
	width:100px;
	position:absolute;
	top:-1px;
	left:-1px;
	border-radius:11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

.drag span
{	
    margin: 0 auto;
    width: 98%;
    left: 0px;
    position: absolute;
    bottom: 5px;
    line-height: 15px;
	
}
.drag1 span
{	
    margin: 0 auto;
    width: 98%;
    left: 0px;
    position: absolute;
    bottom: 5px;
    line-height: 15px;
	
}
.bg_0
{
position: absolute;
top: 19px;
left: 184px;
width: 735px;
height: 485px;
background-image: url(../images/embtriangle.png);
opacity: 0.8;
}
.drop
{
	position: absolute;
	width: 98px;
	height: 74px;
	background: white;
	border-radius: 10px;
	border: 1px solid #80848D;
}
.producer
{
position: absolute;
top: 410px;
left: 825px;
width: 84px;
height: 22px;
background: #00431c;
padding-top:3px;
}
.producer1
{
	position: absolute;
	top: 285px;
	left: 768px;
	width: 84px;
	height: 43px;
	background: #00431c;
	padding-top:3px;
}
.producer2
{
	position: absolute;
	top: 168px;
	left: 729px;
	width: 160px;
	background: #00431c;
	width: 84px;
	height: 43px;
	padding-top:3px;
}
.producer3
	{
	position: absolute;
	top: 51px;
	left: 630px;
	width: 160px;
	background: #00431c;
	width: 84px;
	height: 43px;
	padding-top:3px;
}
.producerclass
{
	position:absolute;
	color:white;
	line-height: 17px;
	text-align: center;
	font-size: 15px;
}
.dropComp
{
	position: absolute;
	top: 7px;
}
#page_1
{
	background:orange;
	width: 1000px;
	height: 710px;
	display:none;
}
#button_1
{
	left:510px;
}

.flexDiv
{
	width:500px;
	background:gray;
	display:flex;
	align-content: center;
	justify-content: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	flex-wrap: nowrap;
	align-items: center;
}	
.flexinner
{
	
	width:500px;
	
	display:flex;
	align-content: center;
	justify-content: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	flex-wrap: nowrap;
	align-items: center;

}


.glowEffect, .highlight {
	position: absolute !important;
	top: 283px;
    left: 513px;
	width: 23px;
	height: 24px;
	background: transparent;
	border-radius: 10px;
	border: 3px solid #FFEB3B;
	box-shadow: 0px 0px 27px #FFEB3B;
	display: none;
	
	-webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
   
    .highlight{
     -webkit-animation-name: blinker;
     animation-name: blinker;
    }


    ::i-block-chrome,.myClass, .highlight{
      -webkit-animation-name: blinker;
      animation-name: blinker;
    }
}
@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.1; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.1; }
    100% { opacity: 1.0; }
}
@-moz-keyframes blinker1 {  
    0% { opacity: 1.0; }
    50% { opacity: 0.1; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker1 {  
     0% { opacity: 1.0; }
    50% { opacity: 0.1; }
    100% { opacity: 1.0; }
}

@keyframes blinker1 {  
    0% { opacity: 1.0; }
    100% { opacity: 1.0; }
    50% { opacity: 0.1; }
}

.hrclass:nth-child(1)
{
	position: absolute;
	top: 463px;
	color: white;
	height: 2px;
	background: white;
	border-radius: 10px;
    width: 570px;
    left: 267px;
	border: none;
}
#hr1
{
	position: absolute;
	top: 228px;
	color: white;
	height: 2px;
	background: white;
	border-radius: 10px;
    width: 304px;
    left: 400px;
	border: none;
}
#hr2
{
	position: absolute;
	top: 112px;
	color: white;
	height: 2px;
	background: white;
	border-radius: 10px;
    width: 140px;
    left: 482px;
	border: none;
}

.roundbtn
{
position: absolute;
top: 10px;
left: 20px;
width: 10px;
height: 10px;
border: 2px solid white;
border-radius: 7px;
color: white;
z-index: 3;
 background:#367fa0; 
}
.colorclass
{
	background:#150958;
	border:2px solid #150958;
	cursor:default;
	border-radius:7px;
	width:10px;
	height:10px;
}
.greenColoradd
{
	background:#457a4b;
}

.yellowColoradd
{
	background:#ffcb05;
	border:2px solid #ffcb05;
	cursor:default;
	border-radius:7px;

}

.colorclass1
{
	background:#00431c;
	border:2px solid #00431c;
	cursor:default;
	border-radius:7px;

}
.centBtnDef{
	background: #150958 ;
	border: 2px solid #150958;
	cursor:default;
}
.highBtnColr{
	background: #FFCB05 ;
	border: 2px solid #FFCB05;
}
.flexDiv
{
	width:500px;
	background:gray;
	display:flex;
	align-content: center;
	justify-content: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	flex-wrap: nowrap;
	align-items: center;
}	
.flexinner
{
	width:560px;
	display:flex;
	align-content: center;
	justify-content: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	flex-wrap: nowrap;
	align-items: center;
	margin-left: -91px;
}
#hr0
{
	position: absolute;
	top: 345px;
	color: white;
	height: 2px;
	background: white;
	border-radius: 10px;
	width: 446px;
	left: 328px;
	border: none;
}
#flexDiv0
{
	margin-left: -91px;
}
.flexDiv1
{
	width: 440px;
	height: 100px;
	margin-left: -27px;
}
.flexDiv2
{
	width: 364px;
	height: 100px;
	margin-left: 10px;
}
.flexDiv3
{
	width:500px;
	height:100px;
}

.roundbtn span
{
	font-size: 14px;
	position: absolute;
	top: 8px;
	left: -5px;
	cursor:default;
}

.text
{
	position: absolute;
	top: 513px;
	left: 488px;
	font-size: 17px;
	color:white;
	font-family:Roboto-Regular;
}
.glowEffect, .highlight {
	position: absolute !important;
    top: -3px;
    left: -3px;
	width: 100%;
	height: 100%;
	background: transparent;
	box-shadow: 0px 0px 27px #FFEB3B;
	display: none;
	border-radius: 10px;
	-webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
 @media screen and (-webkit-min-device-pixel-ratio:0) { 
  
    .glowEffect , .highlight{
     -webkit-animation-name: blinker1;
     animation-name: blinker1;
    }

   
    ::i-block-chrome,.myClass, .highlight{
      -webkit-animation-name: blinker;
      animation-name: blinker;
    }
} 

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.1; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.1; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.1; }
    100% { opacity: 1.0; }
}
@-moz-keyframes blinker1 {  
    0% { border: 3px solid yellow;  }
    50% { border: 3px solid transparent; }
    100% { border: 3px solid yellow; }
}

@-webkit-keyframes blinker1 {  
    0% { border: 3px solid yellow;  }
    50% { border: 3px solid transparent; }
    100% { border: 3px solid yellow; }
}

@keyframes blinker1 {  
    0% { border: 3px solid yellow;  }
    50% { border: 3px solid transparent; }
    100% { border: 3px solid yellow; }
}
.glow4,.glow8
{
	width: 93%;
	height:100%;
	left:0px;
	top:0px;
	position:absolute;
	border-radius: 15px;
}
#roundAnimate_1
{
	position: absolute;
	width: 14px;
	height: 14px;
	top: 237px;
	right: 380px;
	border-radius: 7px;
	background: #ffcb05;
	display:none;
	z-index: 8;
	cursor:pointer;
}#roundAnimate_2
{
	position: absolute;
	width: 14px;
	height: 14px;
	top: 354px;
	right: 380px;
	border-radius: 7px;
	background: #ffcb05;
	display:none;
	z-index: 8;
	cursor:pointer;
}#roundAnimate_3
{
	position: absolute;
	width: 14px;
	height: 14px;
	top: 472px;
	right: 380px;
	border-radius: 7px;
	background: #ffcb05;
	display:none;
	z-index: 8;
	cursor:pointer;
}
.dummy_Div
{
	position:absolute;
	width: 361px;
	height: 510px;
	/* background:red;
	opacity:0.5; */
	top:0px;
	left:0px;
	z-index:95;
	display:none;
}
.closeclick,.closeclick1
{
	width:100%;
	height:100%;
	/* background:green;	 */
}